# dependencies
node_modules/

# env
.env

# next.js
.next/
out/

# hardhat
/cache
/artifacts

# typechain
/typechain
/typechain-types

# coverage
/coverage
/coverage.json

# ignition
ignition/deployments/chain-31337